h1 {

    color: #4a187a;
    text-align: center;
    font-family: "Comic Sans MS";
    font
}

h2 {

    color: #4a187a;
    text-align: center;
    font-family: "Comic Sans MS";
}

.center{

    color: #4a187a;
    text-align: center;
    font-family: "Comic Sans MS";
}

img .pic1 {

    position: static;

}

.a {

    padding:30px;
}

h1{

    padding-top

}
body{
    background-color: #dbdbdb;
}

#b {

    margin-top:30px;
    background-color: #dbdbdb;

}


